<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">Geração de certificado</h1>
    <p class="mb-4 custom-subtitle">Preencha os dados para gerar um novo certificado</p>
  </div>
  <div class="custom-card w-100">
    <h2 class="card-title">Novo certificado</h2>
    <div class="mb-3 custom-input-group">
      <label [ngClass]="{'text-danger-label': campoValido(nomeRef)}" class="form-label">Nome</label>
      <input [(ngModel)]="certificado.nome" name="nome" #nomeRef="ngModel" maxlength="150" required type="text" class="form-control custom-input" placeholder="Nome do aluno">
      @if (campoValido(nomeRef)) {
        <div class="error-message d-flex align-items-center">
          <i class="ph ph-warning-circle"></i>
          <p class="m-0">O nome do aluno é obrigatório</p>
        </div>
      }

    </div>
    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">
        <label class="form-label">Atividade</label>
        <input #atividadeRef="ngModel" name="atividade" [(ngModel)]="atividade" maxlength="50" required type="text" class="form-control custom-input" placeholder="Atividade exercida">
      </div>
      <app-secundary-button (click)="adicionarAtividade()" [disabled]="!atividade || atividade.length === 0" [textoBotao]="'Adicionar'" ></app-secundary-button>
    </div>
    <div class="atividade-group">
      <label class="form-label">Lista de atividades</label>
      <div class="item-list w-100">

        @for (item of certificado.atividades; track $index) {
          <div class="item">
            <span class="item-text">{{item}}</span>
            <div class="remove-btn" (click)="excluirAtividade($index)">
              <i class="ph-bold ph-x"></i>
            </div>
          </div>
          @if ($index < certificado.atividades.length - 1) {
            <hr>
          }
        }

      </div>
    </div>
    <app-primary-button (click)="submit()" [disabled]="!formValido()" textoBotao="Gerar certificado"></app-primary-button>
  </div>
</form>
